/* Sidebar.css */
/* Estilos para el layout de Sidebar + Contenido */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px; /* Ancho del sidebar */
  background-color: var(--theme-background-primary); /* Fondo principal */
  z-index: 100;
  padding: 48px 0 0; /* Espacio para el header si lo hubiera */
  border-right: 1px solid var(--theme-border-default); /* Borde derecho para separar del contenido */
}

.sidebar .nav-link {
  color: var(--color-white) !important; /* Color de texto blanco por defecto */
  padding: 1rem;
}

.sidebar .nav-link:hover {
  background-color: var(--color-red-dark); /* Fondo rojo oscuro al pasar el cursor */
  color: var(--color-white) !important; /* Texto blanco al pasar el cursor */
}

.sidebar .nav-link.active { /* Estilo para el enlace activo */
  background-color: var(--color-red-primary); /* Fondo rojo primario */
  color: var(--color-white) !important; /* Texto blanco */
}

.sidebar .nav-link .me-2 {
  font-size: 1.2rem;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scroll si los enlaces no caben */
}
